<head><meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

{{map}}

{% for str in lst_paths %}
    <tr>{% for line in str %}
        <th>
            <p> {{line}} <br>
        </th> </p>
        {% endfor %}
    </tr>
<br>
{% endfor %}
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<p>Click the <strong>table headers</strong> to sort the table accordingly:</p>

<table id = "usersTable" class="w3-table-all">
    <thead>
        <tr>
            {% for col in column_names %}
            <th>
                {{col}}
            </th>
            {% endfor %}
        </tr>
    </thead>
        <tbody>
            {% for row in row_data %}
            <tr class="item">
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
</table>
<p>
	<a href="{{ url_for('.download_file') }}">Download results as sbol</a>
    ** Theoretical yield: calculated using the flux balance analysis (FBA) function from Cobrapy with the objective set to the final reaction producing the target metabolite.
    ** Eng_atp: ATP consumptions in this pathway. Value obtained by summing the fluxes of all reactions using ATP. Lower value indicates that the pathway has lower energy use.
    ** Eng_nad: NAD consumptions in this reactions. Value obtained by summing the fluxes of all reactions using NAD. Lower value indicates that the pathway has lower NAD use.
    ** Eng_nadp: NADP consumptions in this reactions. Value obtained by summing the fluxes of all reactions using NADP. Lower value indicates that the pathway has lower NAD use.
    ** FVA_dif:  The values are obtained by subtracting the sum of minimum flux for all reactions from the sum of maximum flux for all reactions as calculated using the flux variability analysis. Larger differences between minimum and maximum FVA suggest greater cofactor imbalance and greater metabolic burden.
    ** O2_use: Oxygen consumptions in this pathway. Value obtained by summing the fluxes of all reactions using oxygen. Lower value indicates that the pathway has lower NAD use.
    ** Anaerobic condition: Anaerobic conditions are simulated by setting the oxygen level in growth medium to 0 and setting the oxygen exchange reaction lower bound to 0.



</p>

<script>
    let tid = "#usersTable";
    let headers = document.querySelectorAll(tid + " th");

headers.forEach(function(element, i) {
  element.addEventListener("click", function() {
    w3.sortHTML(tid, ".item", "td:nth-child(" + (i + 1) + ")");
  });
});
</script>


<style>
    th {
  cursor: pointer;
  background-color: coral;
}
</style>


