<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    body{text-align:center}
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
<form  action="/data" method = "POST" id="sample_form2" enctype="multipart/form-data">
 <label for="msg" id="msg">{{msg}} Pathways are discovered. It takes about 20 seconds to evaluate each pathway.
 You can adjust this number by reducing/increasign the maximum pathway length. Would you like to continue?
 </label>
  <br>
    <a href="{{url_for('form')}}" class="btn btn-secondary"><button>return</button></a>
    <button type="submit" form="sample_form2" value="Submit">proceed</button>
</form></div>

</body>
</html>